- if @project
  %p
    %em=h @project.title
    can only be edited by the person with the OpenID
    %em=h @project.openid

-form_for :session, @session, :url => session_path do |f|
  =hidden_field_tag 'project', @project.slug if @project
  %p
    %label
      OpenID URL:
      =text_field_tag 'openid_url', (@project.openid if @project)
  %p=submit_tag 'Login'