- if @project
  %p
    %em=h @project.title
    can only be edited by the person with the OpenID
    %em=h @project.openid

- if params[:new_project]
  %p Before you create a project, you need to log in using an OpenID, so we know who owns it.

-form_for :session, @session, :url => session_path(:after_openid => "QWHEJQWEHJWQHE") do |f|
  =hidden_field_tag 'project', @project.slug if @project
  =hidden_field_tag 'new_project', true if params[:new_project]
  %p
    %label
      OpenID URL:
      =text_field_tag 'openid_url', (@project.openid if @project)
  %p=submit_tag 'Login'


%h2 Openwhat?

%p
  OpenID is awesome. You probably already have one. Try your livejournal url, or typing in http://yahoo.com