pkg
doc
*.log
*.db
.DS_Store
*~
meta
db/schema.rb
.loadpath
.project
tmp
public/images/uploaded
public/images/catalogue
nbproject
config/ultrasphinx/development.conf
audio
import
import.org
public/images/catalog
index
.idea
*.sqlite3
config/deploy.rb
