/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Styles */

body {
  margin:0;
  padding:0;
}

.header_inner,
.container .content {
  width:980px;
  margin:0 auto;
  position:relative;
}


.header {
  padding:13px 0 16px 0;
  background-color: #181818;
  border-bottom:3px solid #E3433A;
}


.header h1 {
  width:354px;
}

ul.nav {
  position:absolute;
  top:67px;
  right:0;
}

ul.nav li {
  display:inline-block;
}

ul.nav li a{
  color:#E3433A;
  font: 1em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-decoration: none;
  margin-right:30px;
  padding-top:4px;
}

ul.nav li a.current,
ul.nav li a:hover {
  color:#fff;
  margin-right:30px;
  border-top: 3px solid #E3433A;
}