.header{
  background-color:#DF4141;
  color:#FFFFFF;
  font-family:"Gill Sans","Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
  font-variant:small-caps;
  font-size:2em;
}

.header p{
  padding:0.5em;
  text-align:right;
}

ul.flickr_tag_photos{
  list-style: none;
  margin:0;
}
ul.flickr_tag_photos li {
  display:inline;
}
ul.flickr_tag_photos li img {
  max-width:20%;
}
ul.flickr_tag_photos:first-child img {
  max-width:100%;
  max-height:300px;
}