/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Styles */

body {
  margin:0;
  padding:0;
  color:#444444;
  font: 18px Georgia, serif;
  font-weight:100;
  word-spacing: -1px;
  line-height: 1.4;
}

a {
  color:#E3433A;
  text-decoration:none;
}

a:hover {
  color:#E3433A;
  text-decoration:underline;
}

p{
  margin-bottom:1em;
}

blockquote {
  background: transparent url('/images/quote_open.png') left top no-repeat;
  margin-bottom:55px;
  position: relative
}
blockquote h3 {
  padding: 0 48px;
  background: transparent url('/images/quote_close.png') right bottom no-repeat;
  font-family: "Gill Sans Light","GillSans-Light", "Gill Sans", "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  font-size:1.8em;
  font-weight:100;
  color:#181818;
}
blockquote .cite {
  margin-top:1em;
  padding-left:48px;
}

h2 {
  font-family: "Gill Sans Light","GillSans-Light", "Gill Sans", "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  font-size:1.8em;
  font-weight:100;
  border-left: 3px solid #E3433A;
  padding-left: 15px;
  margin-bottom:20px;
}

.sub_content h2 {
  border:none;
}

ul {
  margin: 0 20px;
}

ul li {
  padding-bottom: 1em;
}


/* PAGE LAYOUT */


.header_inner,
.container .content {
  width:980px;
  margin:0 auto;
  position:relative;
}


.header {
  padding:13px 0 16px 0;
  background-color: #181818;
  border-bottom:3px solid #E3433A;
  margin-bottom:35px;
}

.header h1 {
  width:354px;
}

ul.nav {
  position:absolute;
  top:67px;
  right:0;
  margin:0;
}

ul.nav li {
  float:left;
  margin-left:40px;
}

ul.nav li a{
  color:#E3433A;
  font: 1em "Gill Sans Light","GillSans-Light", "Gill Sans", "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  font-weight:100;
  text-decoration: none;
  padding-top:4px;
  display:block;
}

ul.nav li a.current,
ul.nav li a:hover {
  color:#fff;
  border-top: 3px solid #E3433A;
  position:relative;
  top:-3px;
}

.main_content {
  margin-right:32%;
}

.sub_content {
  position:absolute;
  top:0;
  right:0;
  width:30%;
}

/* PAGE SPECIFIC STYLES */

ul.flickr_tag_photos li{
  display:inline;
  margin:0;
  padding:0;
}