%h3 Rewired State for teens

%h4 What
%p  A weekend for teenagers to create hardware and software hacks using government data as well as any other data sets we find that might be useful. Rewired State geeks will be on hand to teach and assist where necessary; and at the end of the weekend there will be a show and tell to government Ministers, civil servants, Press, entrepreneurs and interested parties/sponsors.

%h4 Why 
%p  This is a group of talent that we think should be encouraged to be more visible, we are also going to take this opportunity to raise awareness of the types of skill now required and make a push to affect the curriculum – which is a woefully poor reflection of the programming languages available and/or useful.

%h4 Who
%p
  This is for teenagers aged 15 to 18 who have some degree of programming ability. We will use active social networks - 
  %a{:href => "http://www.generatinggenius.org.uk/"} Generating Genius
  and
  %a{:href => "http://www.spinebreakers.co.uk/Pages/Home.aspx"} Spine Breakers
  used by these teens to get the right number: aiming for 60.

<iframe src="http://spreadsheets.google.com/embeddedform?key=p6Stpim9Vjoz-2BYAgd91AA" width="100%" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>