%h3 Join the Rewired State

.span-12
  %h4 Discussion mailing list

  %p We have an active Google Group where we discuss projects and future activities.

  %p
    %strong
      %a{:href => "http://groups.google.com/group/rewiredstate/"} Join the Rewired State mailing list

  %h4 IRC

  %p
    A few of us hang out in IRC:
  %p
    %strong
      %a{:href => "irc://irc.freenode.net/rewiredstate"} #rewiredstate on freenode

  %h4 Twitter

  %p
    We, of course, have a twitter account: @rewiredstate

  %p
    %strong
      %a{:href => "http://twitter.com/rewiredstate"} Follow us on twitter