%h3 Young Rewired State

%p Young Rewired State is a weekend event emulating the success of Rewired State's National Hack the Government Day, but this time with hackers aged 15-18.

%p
  %br
  %em 
    22nd and 23rd August 2009
    %br
    Google HQ London, Victoria

.span-11
  %h4 For the young people
  
  %p Fancy hacking the Government into shape? Want to create websites and applications that can help you, your school, town, country or the world?
  
  %p How about we give you Google's offices in the heart of London, technology and a tonne of the country's best programmers and hackers to help and teach you along the way? We'll also give you food and drink to keep you going.
  
  %p If so, we'd love you to come to our free weekend to see what you can come up with. We think we're all in for a big surprise.
  
  <iframe src="http://spreadsheets.google.com/embeddedform?key=p6Stpim9Vjoz-2BYAgd91AA" width="100%" height="540" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  
.span-12
  %h4 For the old(er) people

  %h4 What
  %p  A weekend for teenagers to create hardware and software hacks using government data as well as any other data sets we find that might be useful. Rewired State geeks will be on hand to teach and assist where necessary; and at the end of the weekend there will be a show and tell to government Ministers, civil servants, Press, entrepreneurs and interested parties/sponsors.

  %h4 Why 
  %p  This is a group of talent that we think should be encouraged to be more visible, we are also going to take this opportunity to raise awareness of the types of skill now required and make a push to affect the curriculum – which is a woefully poor reflection of the programming languages available and/or useful.

  %h4 When
  %p 22nd and 23rd of August, 2009

  %h4 Where
  %p Google's fantastic London Offices just outside Victoria station, London

  %h4 Who
  %p
    This is for teenagers aged 15 to 18 who have some degree of programming ability. This might include having made any website or hacking on open source software.

