.main_content
  %h2 Young Rewired State

  %p Young Rewired State is a weekend event emulating the success of ReWired State's National Hack the Government Day, but this time with hackers aged 15-18.

  %hr
  
  %h2 When and Where
  
  .clearfix
    %img{:src => "images/yrs_map.png", :class => "body_image"}
  
    %p 22nd and 23rd August 2009
    %p Google HQ London, Victoria
  
  %hr
  
  %h2 For the young people
  
  %p Fancy hacking the Government into shape? Want to create websites and applications that can help you, your school, town, country or the world?

  %p How about we give you Google's offices in the heart of London, technology and a tonne of the country's best programmers and hackers to help and teach you along the way? We'll also give you food and drink to keep you going.

  %p If so, and you're aged between 15 and 18, we'd love you to come to our free weekend to see what you can come up with. We think we're all in for a big surprise.

  %p If you're worried about not being skilled enough, view our skill requirements below.
    
  %hr

  %h2 For the old(er) people

  %p A weekend for teenagers to create hardware and software hacks using government data as well as any other data sets we find that might be useful. Rewired State geeks will be on hand to teach and assist where necessary; and at the end of the weekend there will be a show and tell to government Ministers, civil servants, Press, entrepreneurs and interested parties/sponsors.

  %p This is a group of talent that we think should be encouraged to be more visible, we are also going to take this opportunity to raise awareness of the types of skill now required and make a push to affect the curriculum - which is a woefully poor reflection of the programming languages available and/or useful.

  %hr

  %h2 Press
  
  %p
    Tiffany from Stimulation Ltd is handling the PR fro Young Rewired State. You can contact her at
    %a{:href => "mailto:tiffany@rewiredstate.org"} tiffany@rewiredstate.org
  
  %hr

  %h2 Sign up
  
  %p I'd like to register for Young Rewired State, I'm a 
  
  <iframe src="http://spreadsheets.google.com/embeddedform?key=p6Stpim9Vjoz-2BYAgd91AA" width="100%" height="540" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  