%h2 Are you sure?
- form_for @data_source, :html => {:method => :delete} do |form|
  = render :partial => "common/human_test"
  = form.submit "Delete this entry"
  = link_to "Cancel", data_sources_path